html {
  background-color: #fff;
  font-family: "Racing Sans One", cursive;
  font-family: Limelight, cursive;
  font-family: Roboto, sans-serif;
}

.masthead {
  background-color: #000;
  border-bottom: .3rem solid #c39bd3;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 9em;
  font-family: "Racing Sans One";
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo:hover {
  background-color: #c39bd3;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-family: Limelight;
}

.nav a span {
  border-bottom: .3rem solid #c39bd3;
}

.nav a:hover span,
.nav a:focus span,
[tabindex="0"]:focus {
  background-color: #fff;
  color: #000;
  border-bottom-color: #21b473;
}

.banner {
  min-height: 16em;
  color: #fff;
  font-family: Limelight, cursive;
}

h2 {
  font-family: Limelight, cursive;
}

main {
  background-color: #e4e1dc;
}

.card {
  min-height: 22em;
  border: .3rem solid #c39bd3;
  border-radius: 4px;
}

.btn-light {
  background-color: #c39bd3;
  border-color: #c39bd3;
  color: #522806;
}

.btn-light:hover,
.btn-light:focus {
  background-color: #522806;
  border-color: #522806;
}

.btn-banner {
  border-color: #000;
  color: #fff;
  background-color: #000;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.footer {
  background-color: #000;
  border-top: .3rem solid #c39bd3;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .card {
    min-height: 0;
    background: #f8f9f9;
  }

  a:focus,
  [tabindex="0"]:focus,
  details:focus,
  summary:focus,
  select:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 10px #fff;
    background-color: #21b473;
  }

  table {
    min-width: 35em;
  }

  tr,
  td,
  th {
    vertical-align: middle;
  }

  tbody tr {
    height: 69px;
  }

}
